<tr id="song{{@index}}">
  <td>
    {{title}}
  </td>
  <td>
    {{artist}}
  </td>

  <td class="center aligned">
    <button title="Edit song" class = "editSubmit" id="showEdit{{@index}}">
      <i class="ui pencil icon"></i>
    </button>
  </td>
  <td class="center aligned">
    <a href="/playlist/{{playlistId}}/deletesong/{{id}}" 
	   title="Delete song">
      <i class="ui black trash icon"></i>
    </a>
  </td>
</tr>
