{{#if songs}}

  <table class="ui unstackable striped table">
    <thead>
      <tr>
        <th class="four wide">Song</th>
        <th class="four wide">Artist</th>
        <th class="two wide"> </th>
        <th class="two wide"> </th>
      </tr>
    </thead>
    <tbody>
      
      {{#each songs}}
      
        {{> listOneSong playlistId=../id}}
        {{> editsong playlistId=../id}}

        <script>
  document.querySelector("#showEdit{{@index}}").addEventListener ('click', () => {
    document.querySelector("#song{{@index}}").style.display = "none";
    document.querySelector("#edit{{@index}}").style.display = "table-row";
  })
  document.querySelector("#hideEdit{{@index}}").addEventListener ('click', () => {
    document.querySelector("#song{{@index}}").style.display = "table-row";
    document.querySelector("#edit{{@index}}").style.display = "none";
  })
</script>
            
      {{/each}}
    
    </tbody>
  </table>

{{else}}
  <h3 class="ui message">
    Empty playlist!
  </h3>

{{/if}}

