<section class="ui left aligned middle aligned segment">
  
  <h2>Playlist App Dashboard</h2>
  
  {{#unless playlists}}
    <h3 class="ui message">
      Start adding your playlists!
    </h3>
  {{/unless}}

  {{#each playlists}}
    <section class="ui left aligned middle aligned segment">

      <h3 class="ui header">
        {{title}}
      </h3>
      
      {{#if songs}}
        <p>
          Total songs: {{songs.length}}
        </p>
      {{else}}
        <p>
          Empty playlist!
        </p>
      {{/if}}
	  <a href="/playlist/{{id}}">
	     <i class = "ui open folder outline black icon"></i>
	  </a>
      <a href="/dashboard/deleteplaylist/{{id}}">
   <i class="ui trash black icon"></i>
</a>

    </section>
  {{/each}}

</section>
