{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">
  
    <h2>About the Playlist App</h2>
      
      <h3>Our Team</h3>

 <div class="ui centered cards">
  {{#each employees}}
    <div class="ui card">
      <div class="image">
        <img src="{{image}}">
      </div>

      <div class="content">
        <div class="header">{{fullname}}</div>
        <div class="meta">Joined in {{joined}}</div>
        <div class="description">
          {{name}} is a {{job}} living in {{city}}.
        </div>
      </div>

      <div class="extra content">
        <i class="user icon"></i>
        {{mates}} contacts
      </div>
    </div>
  {{/each}}
</div>

</section>

